@foreach (var item in Model)
{
    <article>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                @Html.Raw(@item.article)             
            </div>
        </div>
    </article>

    @section Header{
        @*<header class="intro-header" style="background-image: url('../../Content/img/amanecer1.jpg')">*@
            <header class="intro-header" style="background-image: url('../../Content/img/amanecer1.jpg')">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1" style="text-align: justify;">
                            <div class="post-heading">
                                <h1>@item.title</h1>
                                <h2 class="subheading">@item.subtitle</h2>
                                <span class="meta">Posted by <a href="#">@item.displayName</a> a @item.datePublished.ToString("d MMMM yyyy")</span>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
    }
}